TENROUTER_BACKEND_URL=
TENROUTER_ENABLE_MANAGEMENT=0
TENROUTER_MODEL_BASE_URL=
TENROUTER_PORT=4317
TENROUTER_HERMES_URL=
TENROUTER_HERMES_TOKEN_FILE=
TENROUTER_SYSTEM_SSH_TARGET=
TENROUTER_SYSTEM_SSH_IDENTITY=
